In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import os
import numpy as np

# Train

## Twitter dataset

In [2]:
df_twitter = pd.read_csv("twitter-sentiment-analysis2/train.csv", encoding='latin-1')

In [3]:
df_twitter.head()

   ItemID  Sentiment                                      SentimentText
0       1          0                       is so sad for my APL frie...
1       2          0                     I missed the New Moon trail...
2       3          1                            omg its already 7:30 :O
3       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5          0           i think mi bf is cheating on me!!!   ...

In [4]:
df_twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99989 entries, 0 to 99988
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ItemID         99989 non-null  int64
 1   Sentiment      99989 non-null  int64
 2   SentimentText  99989 non-null  object
dtypes: int64(2), object(1)
memory usage: 2.3+ MB

In [5]:
df_twitter.drop('ItemID', axis=1, inplace=True)

In [6]:
df_twitter.head()

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [7]:
X_twitter_train, X_twitter_test, y_twitter_train, y_twitter_test = train_test_split(df_twitter['SentimentText'].values,
                                                                                   df_twitter['Sentiment'].values,
                                                                                   test_size=0.2,
                                                                                   stratify=df_twitter['Sentiment'].values,
                                                                                   shuffle = True,
                                                                                   random_state=42)

In [8]:
X_twitter_train[290]

' @LadyKeisha @scorpio510 thanx for the post &amp; the warm wishes.. enjoy ur day!'

In [9]:
y_twitter_train[290]

1

In [10]:
df_twitter[df_twitter['SentimentText'] == ' @LadyKeisha @scorpio510 thanx for the post &amp; the warm wishes.. enjoy ur day!']

     Sentiment                                      SentimentText
767          1   @LadyKeisha @scorpio510 thanx for the post &a...

## Large Movie Review Dataset

In [11]:
sentiment = []
text = []

negative_path = os.path.join(os.getcwd(), 'aclImdb_v1/aclImdb/train/neg/')
positive_path = os.path.join(os.getcwd(), 'aclImdb_v1/aclImdb/train/pos/')

for filename in os.listdir(negative_path):
    with open(os.path.join(negative_path, filename), 'r') as file:
        sentiment.append(0)
        text.append(file.readline())
        
for filename in os.listdir(positive_path):
    with open(os.path.join(positive_path, filename), 'r') as file:
        sentiment.append(1)
        text.append(file.readline())

df_lmr_train = pd.DataFrame(data={"Sentiment": sentiment, "SentimentText": text})  

df_lmr_train.head()

   Sentiment                                      SentimentText
0          0  Not as bad, as it's credited to being (Hooper'...
1          0  This is the story of a young woman seduced and...
2          0  After too many bad memories, I took to skippin...
3          0  La Sanguisuga Conduce la Danza, or The Bloodsu...
4          0  I may not be a critic, but here is what I thin...

In [12]:
df_lmr_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sentiment      25000 non-null  int64
 1   SentimentText  25000 non-null  object
dtypes: int64(1), object(1)
memory usage: 390.8+ KB

In [13]:
df_lmr_train.iloc[24567]

Sentiment                                                        1
SentimentText    The Great Caruso displays the unique talents o...
Name: 24567, dtype: object

In [14]:
X_lmr_train, y_lmr_train = df_lmr_train['SentimentText'].values, df_lmr_train['Sentiment'].values

X_lmr_train[24567], y_lmr_train[24567]

("The Great Caruso displays the unique talents of Mario Lanza. He shows great acting capacity and is in top form as a lyrical singer, paired with Dorothy Kirsten, soprano of the Metropolitan Opera. Indeed, I dare to say that he performs some songs better than Caruso (check A'Vuchella from Tosti and La Danza from Rossini). The MGM art and music departments also did a good job. This movie could be perfect, were it not for the awkward presence of Ann Blyth; we see that she is trying her best, dressed in the fifties style in scenes just before 1920 - unforgivable. Lanza deserved a better leading lady, and Blyth should stick to less demanding productions. Also notice that Ms. Kirsten sings most of the opera duets of the film with Lanza, giving the wrong notion that Caruso had a kind of permanent leading soprano.",
 1)

In [15]:
sentiment = []
text = []

negative_path = os.path.join(os.getcwd(), 'aclImdb_v1/aclImdb/test/neg/')
positive_path = os.path.join(os.getcwd(), 'aclImdb_v1/aclImdb/test/pos/')


for filename in os.listdir(negative_path):
    with open(os.path.join(negative_path, filename), 'r') as file:
        sentiment.append(0)
        text.append(file.readline())
        
for filename in os.listdir(positive_path):
    with open(os.path.join(positive_path, filename), 'r') as file:
        sentiment.append(1)
        text.append(file.readline())

df_lmr_test = pd.DataFrame(data={"Sentiment": sentiment, "SentimentText": text})

df_lmr_test.head()

   Sentiment                                      SentimentText
0          0  Perhaps it's just me, but this movie seemed mo...
1          0  After watching this movie on tv, I looked it u...
2          0  Even before this film it is clear to see that ...
3          0  This movie is a shame especially considering A...
4          0  Susan inadvertently stumbles onto a drug smugg...

In [16]:
df_lmr_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sentiment      25000 non-null  int64
 1   SentimentText  25000 non-null  object
dtypes: int64(1), object(1)
memory usage: 390.8+ KB

In [17]:
df_lmr_test.iloc[24567]

Sentiment                                                        1
SentimentText    It's rare for a film to sweep you away within ...
Name: 24567, dtype: object

In [18]:
X_lmr_test, y_lmr_test = df_lmr_test['SentimentText'].values, df_lmr_test['Sentiment'].values

X_lmr_test[24567], y_lmr_test[24567]

("It's rare for a film to sweep you away within its world and leave you wanting more once the credits roll. Hayao Miyazaki's Ponyo is such a film.<br /><br />The film is the story of a young goldfish named Ponyo who wishes to become human. She swims to shore and is found by a young boy named Sasuke who promises to take care of her. Course Ponyo's father, an ecologically obsessed sorcerer named Fujimoto, tries to keep Ponyo from becoming human in order to maintain the balance of nature, which is eventually upturned when Ponyo finally transforms into a little girl, causing a massive typhoon.<br /><br />Ponyo is a very rich film. It is full of wondrous fantasy, lovable characters, and genuine heart. What director Hayao Miyazaki has done here is tell a simple little story, and while so doing creating authentic movie magic.<br /><br />Ponyo is an enchanting experience. The love between Sasuke and Ponyo is very pure and true. As well the environmentalist within Miyazaki is still as evident within this film as in all his previous works. Miyazaki shows the filth and grime that fall into the ocean in an almost startling light, not to mention Ponyo's father is on an obsessive mission to clean the world's oceans. While the story is simple, Miyazaki manages to add this extra layer to provoke thought with expert proficiency.<br /><br />The film is a beautiful work of art, each hand drawn cell looks like a wondrous pastel painting. The film looks very different than many other Studio Ghibli productions, but the artistry is still just as spectacular as ever before. The scenes underwater are simply beautiful to watch, Fujimoto's fortress under the sea is highly inventive, and the sequence where Ponyo runs across the jumping fish within the typhoon to reach Sosuke is iconic.<br /><br />Course it is thanks to its wonderfully executed characters that makes this film such a memorable experience. Sosuke is a young boy who acts older than he actually is, and the energetic Ponyo is a laugh a minute. Every character is just so enjoyable and highly memorable.<br /><br />Overall Ponyo is a wondrous experience, enchanting in every single way. While the film may be sold as a children's fairy tale, I believe many adults will be swept away within its fantastic world along with their children. While the film may lack the density of some of Miyazaki's previous works, here he keeps it pure and simple, being true to himself, delivering a film that is funny, heartwarming, and entertaining all in one. This is a magnificent film.<br /><br />I give Ponyo a perfect 10 out of 10!",
 1)

## UCI Sentiment Labelled Sentences

In [19]:
path = 'sentiment labelled sentences/'

In [20]:
os.listdir(path)

['sentiment labelled sentences',
 'imdb_labelled.txt',
 'yelp_labelled.txt',
 'amazon_cells_labelled.txt']

In [21]:
sentiment = []
text = []
filename = os.path.join(path, 'imdb_labelled.txt')
line = 1
with open(filename, 'r') as file:
    while line:
        line = file.readline()
        if line and line[-2].isdigit():
            #print(line, line[-2])
            sentiment.append(int(line[-2]))
            text.append(line[:-2].strip())
            
            
X_imdb_train, X_imdb_test, y_imbd_train, y_imdb_test = train_test_split(text, sentiment,
                                                                       test_size=0.1,
                                                                       stratify=sentiment,
                                                                       shuffle = True,
                                                                       random_state=42)

In [22]:
X_imdb_train[0], y_imbd_train[0]

('The fat computer geek was unbelievable, the bible thumper, the bad-ass girl, who are these actors???',
 0)

In [23]:
sentiment = []
text = []
filename = os.path.join(path, 'yelp_labelled.txt')
line = 1
with open(filename, 'r') as file:
    while line:
        line = file.readline()
        if line and line[-2].isdigit():
            #print(line, line[-2])
            sentiment.append(int(line[-2]))
            text.append(line[:-2].strip())
            
            
X_yelp_train, X_yelp_test, y_yelp_train, y_yelp_test = train_test_split(text, sentiment,
                                                                       test_size=0.1,
                                                                       stratify=sentiment,
                                                                       shuffle = True,
                                                                       random_state=42)

In [24]:
X_yelp_train[0], y_yelp_train[0]

('The Wife hated her meal (coconut shrimp), and our friends really did not enjoy their meals, either.',
 0)

In [25]:
sentiment = []
text = []
filename = os.path.join(path, 'amazon_cells_labelled.txt')
line = 1
with open(filename, 'r') as file:
    while line:
        line = file.readline()
        if line and line[-2].isdigit():
            #print(line, line[-2])
            sentiment.append(int(line[-2]))
            text.append(line[:-2].strip())
            
            
X_amazon_train, X_amazon_test, y_amazon_train, y_amazon_test = train_test_split(text, sentiment,
                                                                       test_size=0.1,
                                                                       stratify=sentiment,
                                                                       shuffle = True,
                                                                       random_state=42)

In [26]:
X_amazon_train[0], y_amazon_train[0]

('Treo and T-Mobile refused to replace it again and forced me to buy another phone without any kind of upgrade discount.',
 0)

In [27]:
X_uci_train = np.array(X_imdb_train + X_yelp_train + X_amazon_train).astype('object')
y_uci_train = np.array(y_imbd_train + y_yelp_train + y_amazon_train)

X_uci_test = np.array(X_imdb_test + X_yelp_test + X_amazon_test).astype('object')
y_uci_test = np.array(y_imdb_test + y_yelp_test + y_amazon_test)

## Merging

In [28]:
y_uci_train

array([0, 0, 0, ..., 1, 0, 0])

In [29]:
X_train = np.concatenate([X_twitter_train, X_lmr_train, X_uci_train])
y_train = np.concatenate([y_twitter_train, y_lmr_train, y_uci_train])

X_test = np.concatenate([X_twitter_test, X_lmr_test, X_uci_test])
y_test = np.concatenate([y_twitter_test, y_lmr_test, y_uci_test])

In [30]:
X_train.shape

(107691,)

In [31]:
X_test.shape

(45298,)

In [32]:
y_train.shape

(107691,)

In [33]:
y_test.shape

(45298,)

In [34]:
df_train = pd.DataFrame(data = {"Text": X_train, "Sentiment": y_train})
df_test = pd.DataFrame(data = {"Text": X_test, "Sentiment": y_test})

In [35]:
df_train.head()

                                                Text  Sentiment
0                                    @bradhouse Yes           1
1                        i wanna record new material          0
2  #followfriday - I'm a little late, but here's ...          1
3            @cavalieresilvio you laugh... we don't           0
4          @adzada The sun clearly hates you today.           0

In [36]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107691 entries, 0 to 107690
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Text       107691 non-null  object
 1   Sentiment  107691 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.6+ MB

In [37]:
df_train = df_train.sample(frac=1).reset_index(drop=True)
df_test = df_test.sample(frac=1).reset_index(drop=True)

In [38]:
df_train.head()

                                                Text  Sentiment
0  @_algin_ I sort of wanted to Susan Boyle to wi...          0
1  @Butterose needs someone to talk to at www.twi...          1
2  Even this early in his career, Capra was quite...          1
3  I was shocked because no signs indicate cash o...          0
4  @AjitJaokar Yes, it's working from TwitterBerrry           1

In [39]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107691 entries, 0 to 107690
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Text       107691 non-null  object
 1   Sentiment  107691 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.6+ MB

In [40]:
df_train.to_csv('train_data.csv')
df_test.to_csv('test_data.csv')